@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  overflow-x: hidden;
}

.text-wrapper .text-banner {
  animation: infiniteBanner 10s linear infinite;
}

.text-wrapper:nth-child(odd) .text-banner {
  animation: infiniteBanner 10s linear infinite reverse;
}

@keyframes infiniteBanner {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(-50%, 0, 0);
  }
}

.rounded-4xl {
  border-radius: 32px;
}
